<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>英语作文跑题检测系统</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/myhistory.css' %}">
</head>
<body>
	<div id="logo"></div>
	<div id="namebox">{{actual_name}}</div>
	<div id="exitbox"><a href="{% url 'login:login_page' %}"></a></div>

	<div class="outerContainer">
		<div class="insideContainer">
			<div class="historyHead">
				<form>
					<table id="hisHead">
						<tr>
							<td rowspan="2" width="130"><a href="{% url 'login:main' %}" class="back"></a></td>
							<th>历史作文列表</th>
						</tr>
						<tr>
							<th>发布年份:
								<select>
									<option value="2017">2017</option>
									<option value="2016">2016</option>
									<option value="2015">2015</option>
									<option value="2014">2014</option>
									<option value="2013">2013</option>
								</select>
							</th>
							<th>作文类型：
								<select>
									<option value="">自主</option>
									<option value="">计划</option>
									<!--<option value="">XXX</option>-->
								</select>
							</th>
							<th><input type="submit" value="筛选"></th>
						</tr>
					</table>
				</form>
			</div>

			<div class="historyBody">
				<table id="hisBody">
					<tr>
						<th>题目ID</th>
						<th>类型</th>
						<th>题目</th>
						<th>写作时间</th>
						<th align=center colspan='1'>操作</th>
					</tr>
					{% for i in essaylist %}
					<tr>
						<td>{{i.0}}</td>
						<td>{{i.1}}</td>
						<td>{{i.2}}</td>
						<td>{{i.3}}</td>
						{% if i.4 %}
							<td><a href="{% url 'login:history_result' %}?type=AT&id={{i.0}}">查看</a></td>
                            <!--<td><a href="{% url 'login:intermediateResults' %}?type=AT&id={{i.0}}">中间结果</a></td>-->
						{% else %}
							<td><a href="{% url 'login:write_historyEssay' %}?type=PL&id={{i.0}}">写作</a></td>
						{% endif %}
					</tr>
					{% endfor %}
					<!--<tr>-->
						<!--<td>1</td>-->
						<!--<td>计划</td>-->
						<!--<td>Money is nothing</td>-->
						<!--<td>2017.03.25</td>-->
						<!--<td><a href="##">操作</a></td>-->
					<!--</tr>-->

				</table>
			</div>

			<p>Copyright 2017 All rights reverved.</p>
		</div>
	</div>

<!-- 分页php -->
<!-- <?php
$result = mysql_query($q);//$q是sql查询语句
$perNumber=10; //每页显示的记录数
$page=$_GET['page']; //获得当前的页面值
$r=mysql_query($q); //获得记录总数
//$rs=mysql_fetch_array($r);
$count = 0;
while($rs=mysql_fetch_array($r)){
    $count ++;
}
//print($count);
//print_r($rs);
$totalPage=ceil($count/$perNumber); //计算出总页数

if (!isset($page)) {
    $page=1;
} //如果没有值,则赋值1
$startCount=($page-1)*$perNumber; //分页开始,根据此方法计算出开始的记录
$result=mysql_query("$q limit $startCount,$perNumber"); //根据前面的计算出开始的记录和记录数
?> -->

</body>
</html>