*{margin:0;padding: 0;}

body{width: 100%;
	height: auto;
}
#logo{
	width: 280px;
	height: 36px;
	margin-left: 570px;
	margin-top: 5px;
	display: inline-block;
	background-image: url(../img/Calendar/logo.png);
	background-repeat: no-repeat;
}

#namebox{
	width: 100px;
	height: 15px;
	display: block;
	margin-left: 900px;
	margin-top: -30px;
	text-align: right;
	line-height: 15px; 
}

#exitbox{
	width: 15px;
	height: 15px;
	display: block;
	margin-left: 1020px;
	margin-top: -15px;
}

#exitbox a{
	width: 15px;
	height: 15px;
	display: block;
	background-image: url(../img/Calendar/exit.png);
}

#exitbox a:hover{
	background-image: url(../img/Calendar/exit_click.png);
	cursor: pointer;
}

#outer_content_box{
	width:1200px;
	height: 610px;
	margin-left: 80px;
	margin-top: 15px;
	border:#EBEBEB 2px solid;
	background-color: #EBEBEB;
}

#outer_content_box p{
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
}

#personal_table{
	border:2px white solid;
	width: 996px;
	height: 100px;
	margin-left: 85px;
	margin-top: 5px;
	background-color: white;
	border-radius: 5px;
}

#mytable{
	width: 500px;
	height: 80px;
	position: relative;
	margin-left: 350px;
	margin-top: 10px;
}

#mytable img{
	width: 55px;
	height: 55px;
	border: 1px black solid;
	border-radius: 50%; 
}

#imgA{
	width: 57px;
	height: 57px;
	display: block;
}

#mytable button{
	border-radius: 10px;
	width: 150px;
	height: 25px;
	border:none;
	background-color: #FAA041;
	color: white;
	cursor: pointer;
}

#mytable button:hover{
	border-radius: 10px;
	width: 150px;
	height: 25px;
	border:none;
	background-image: url(../img/Calendar/history.png);
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#mytable table tr:nth-child(2){
	font-size: 10px;
	font-weight: bold; 
}

#time_head_date{
	border:black 2px solid;
	width: 996px;
	height: 40px;
	margin-left: 85px;
	margin-top: 5px;
	background-color: black;
	border-radius: 5px; 
}

#leftarrow{
	width:20px;
	height: 35px; 
}

#leftarrow a{
	width: 18px;
	height: 34px;
	display: block;
	margin-left: 250px;
	background-image: url(../img/Calendar/leftarrow.png);
}

#leftarrow a:hover{
	cursor: pointer;
	background-image: url(../img/Calendar/leftarrow_click.png);
}

#rightarrow{
	width: 20px;
	height: 35px;
}

#rightarrow a{
	width: 18px;
	height: 34px;
	display: block;
	margin-left: 730px;
	margin-top: -25px;
	background-image: url(../img/Calendar/rightarrow.png);
}

#rightarrow a:hover{
	cursor: pointer;
	background-image: url(../img/Calendar/rightarrow_click.png);
}

#month{
	display: block;
	color: white;
	font-size: 30px;
	margin-left: 450px;
	margin-top: -35px;
}
#year{
	display: block;
	color: white;
	margin-left: 500px;
	margin-top: -25px;
	font-size: 15px;
}

#time_table{
	width: 1000px;
	height: 400px;
	margin-left: 85px;
	margin-top: 8px;
}

.date{
	width: 138px;
	height: 80px;
	background-color: white;
	border-radius: 5px;
	display: inline-block;
	margin-right: 4px;
}

.date span{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

/*有监督样式*/
.plan{
	color: white;
	width: 138px;
	height: 80px;
	border-radius: 5px;
	background-color:#18CCFC;
	display: inline-block;
	margin-right: 4px;
}
.plan span{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

.plan:hover{ /*计划-完成*/
	background-image: url(../img/Calendar/plan_finish.png);
	border-radius: 5px;
	cursor: pointer;
}

/*无监督样式*/
.self{
	color: white;
	width: 138px;
	height: 80px;
	border-radius: 5px;
	background-color: #18CCFC;
	display: inline-block;
	margin-right: 4px;
}
.self span{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

.self:hover{ /*自主-完成*/
	background-image: url(../img/Calendar/self_unfinish.png);
	border-radius: 5px;
	cursor: pointer;
}

/*已完成样式*/
.success{
	color: white;
	width: 138px;
	height: 80px;
	border-radius: 5px;
	background-color: #43ED8D;
	display: inline-block;
	margin-right: 4px;
}
.success span{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

.success:hover{ 
	background-image: url(../img/Calendar/finish.png);
	border-radius: 5px;
	cursor: pointer;
}



/*photoTips*/
#photoTips{
	width: 80px;
	height: auto;
	margin-left: 350px;
	margin-top:-8px;
	font-size: 12px;
	color: #61D2FC;
	display: none;
}

/*修改头像好和密码弹窗*/
#hidebg.parentNode{
	z-index: -1;
}

#hidebg { 
	left:0px;
	top:0px;
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height: 100%;
    filter:alpha(opacity=70);  /*设置透明度为60%*/
    opacity:0.7;  /*非IE浏览器下设置透明度为60%*/ 
	background-color:white;
	position:absolute;
	z-index:1; 
	display: none;
}

.modify{
	width: 550px;
	height: 280px;
	border: #18CCFC 1px solid;
	margin-left: 450px; 
	border-radius: 20px;
	box-shadow: 0px 0px 25px #18CCFC;
	margin-top: -600px;
	z-index: 99;
	background-color: white;
	display: none;
	position: relative;
}

#modify_back a{
	width: 23px;
	height: 23px;
	background-image: url(../img/Calendar/X.png);
	background-color: #18CCFC;
	border-radius: 50%;
	margin-left: 510px;
	margin-top: 10px;
	display: block;
}

#modify_back a:hover{
	cursor: pointer;
	box-shadow: 0px 0px 25px #18CCFC;
}


#modifyTable{
	width: 500px;
	height: auto;
	margin-top: 10px;
	margin-left:20px;
	padding-bottom: 10px; 
	table-layout: fixed;
}

#modifyTable input{
	width: 200px;
	height: 25px;
	border:2px #EBEBEB solid;
	border-radius: 20px;
}

#modifyTable input:hover{
	border:2px #18CCFC solid;
}

#modifyTable button{
	width: 60px;
	color: black;
	border:2px #18CCFC solid;
	border-radius: 5px;
	margin-left: 5px;
	background-color: #18CCFC;
	color: white;
}

#modifyTable button:hover{
	cursor: pointer;
	box-shadow: 0px 0px 25px #18CCFC;
}

#modifyTable tr td:nth-child(1){
	width: 90px;
}

#modifyTable tr td:nth-child(2){
	width: 120px;
}

#modifyTable tr:nth-child(3),#modifyTable tr:nth-child(4),#modifyTable tr:nth-child(5){
	display:none;
}

#pwdBox:hover{
	cursor: pointer;
}

#modifyPic{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border:black 1px solid;
	margin-top: 10px;
}

#modifySub{
	background-color: #18CCFC;
	color: white;
}

#modifySub:hover{
	box-shadow: 0px 0px 25px #18CCFC;
	cursor: pointer;
}















