*{margin: 0;padding: 0}

body{
	background-color: #EBEBEB;
	width: 100%;
	height: auto;
}

#self_write_head{
	width: 1100px;
	height: 100px;
	margin-left: 150px;
	margin-top: 5px;
	background-color: white;
	border-radius: 5px;
}

#self_write_title{
	width: 800px;
	height: 35px;
	margin-left: 200px;
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 50px;
}

#title{
	height: 30px;
	border-radius: 20px;
	border:#E2E2E2 2px solid;
	font-size: 20px;
	display: none;
}

#title:hover{
	border:#79EEFB 2px solid;
	cursor: pointer;
}

#tips{
	width: 90px;
	height: 30px;
	display: inline-block;
	background-image: url(../img/selfWrite/checklist.png);
	color:white;
	text-align: center;
	line-height: 30px;
	margin-left: 600px;
	margin-top: 5px;
}

#tips:hover{
	box-shadow: 0px 5px 25px #FFC4E3;
	border-radius: 30px;
	cursor: pointer;
}

#tipsBox{
	width: 200px;
	height: auto;
	margin-left: 800px;
	display: none;
}

#tipsBox ul{
	width: 200px;
	height: auto;
	border:#FEBE5B 2px solid;
	border-radius: 10px;
	list-style: none;
	position: relative;
	color: #FF8EAD;
	background-color: white;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#self_write_detail{
	width: 500px;
	height: 30px;
	margin-left: 300px;
	margin-top: 15px; 
}

#totalNum{
	display: inline-block;
	width: 150px;
	margin-left: 50px;
}

#spendTime{
	display: inline-block;
	width: 200px;
	margin-left: 50px;
}

.back{
	width: 18px;
	height: 34px;
	margin-left: 20px;
	margin-top: -70px;
	background-image: url(../img/selfWrite/back.png);
}

.back:hover{
	background-image: url(../img/selfWrite/back_click.png);
	cursor: pointer;
}

#self_write_body{
	width: 1100px;
	height: 500px;
	margin-left: 150px;
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
}

#self_write_textBox{
	width: 800px;
	height: 400px;
	margin-left: 150px;
	margin-top: 10px;
}

#self_write_textBox textarea{
	font-size: 20px;
	border-radius: 15px;
	margin-top: 15px;
}

#spanNum{
	margin-left: 750px;
	color: #666;
}

#self_write_button{
	width: 300px;
	height: 30px;
	margin-left: 800px;
	margin-top: 40px;
}

#self_save{
	width: 90px;
	height: 30px;
	background-image: url(../img/selfWrite/save.png);
	border-radius: 20px;
	color: white;
	border:none;
}

#self_save:hover{
	box-shadow: 0px 0px 25px #73E8FB;
	cursor: pointer;
}

#self_submit{
	width: 90px;
	height: 30px;
	background-image: url(../img/selfWrite/submit.png);
	border-radius: 20px;
	color: white;
	border:none;
}

#self_submit:hover{
	box-shadow: 0px 0px 25px #7CF7C8;
	cursor: pointer;
}

#copyRight{
	font-size: 15px;
	margin-left: 600px;
	margin-top: 5px;
}