*{margin:0;padding: 0;}

ul{list-style-type: none; }
a{text-decoration: none;}

#banner{
	margin-left: 250px;
	margin-top: 50px;
}

#LoginResgi{
	width: 300px;
	height: auto;
	margin-left: 950px;
	margin-top: -480px;
	box-shadow: 0px 3px 25px grey;
	border-radius: 10px;
}

#Boxhead{
	background-color: lightgrey;
	color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#Boxhead li{
	display: inline-block;
	width: 150px;
	line-height: 40px;
	text-align: center;
	border-bottom: none;
}
#Boxhead li:hover{cursor: pointer;}
#Boxhead li.active{
	background-color: white;
	color: #16D0FB;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom:2px solid #FFFFFF;
}

.positive{
	background-color: lightgrey;
}

#LoginResgi div{
	border-top: none;
	padding-bottom: 20px;
}
#LoginResgi div ul input{
	width: 230px;
	height: 25px;
	margin-top: 20px;
	margin-left: calc(50% - 120px);
	border-radius: 12px;
	border:2px lightgrey solid;
	padding-left: 10px;
}
#LoginResgi div ul input:hover{
	border:lightblue 2px solid;
}

#LoginResgi div ul span{
	font-size: 4px;
	color: lightgrey;
	margin-left: calc(50% - 120px);
}

#LoginResgi div ul button{
	width: 240px;
	height: 40px;
	border-radius: 15px;
	color: white;
	background-color: #16D0FB;
	margin-left: calc(50% - 120px);
	margin-top: 20px;
	cursor: pointer;
	border:none;
}

#LoginResgi div ul button:hover{
	width: 242px;
}

#LoginResgi div ul a{
	margin-left: calc(50% - 120px);
	margin-top: 15px;	
	font-size: 10px;
	color: #16D0FB;
}

.show{display: block;}
.hide{display: none;}

#Copyright{
	position: relative;
	text-align: center;
	top: -35px;
}

#orange{
	background-color: #F46F29;
	width: 90%;
	height: 97px;
	position: relative;
	margin-left: 80px;
	margin-top: 40px;
}
