*{margin: 0;padding: 0;}

body{width: 100%;height: auto;}
#logo{
	width: 280px;
	height: 36px;
	margin-left: 570px;
	margin-top: 5px;
	display: inline-block;
	background-image: url(../img/Calendar/logo.png);
	background-repeat: no-repeat;
}

#namebox{
	width: 100px;
	height: 15px;
	display: block;
	margin-left: 900px;
	margin-top: -30px;
	text-align: right;
	line-height: 15px; 
}

#exitbox{
	width: 15px;
	height: 15px;
	display: block;
	margin-left: 1020px;
	margin-top: -15px;
}

#exitbox a{
	width: 15px;
	height: 15px;
	display: block;
	background-image: url(../img/Calendar/exit.png);
}

#exitbox a:hover{
	background-image: url(../img/Calendar/exit_click.png);
	cursor: pointer;
}

.outerContainer{
	width:1360px;
	height: 610px;
	margin-top: 15px;
	background-color: #EBEBEB;
	border:#EBEBEB 2px solid;
}

.outerContainer p{
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
}

.insideContainer{
	border:2px white solid;
	width: 1100px;
	height: 570px;
	margin-left: 133px;
	margin-top: 6px;
	background-color: white;
	border-radius: 5px;
}

.historyHead{
	width: 1100px;
	height: 70px;
}

.historyHead table{
	width: 550px;
	height: 70px;
	margin-top: 5px;
}

.back{
	width: 18px;
	height: 34px;
	display: block;
	margin-left: 20px;
	margin-top: 15px;
	background-image: url(../img/planWrite/back.png);
}

.back:hover{
	background-image: url(../img/planWrite/back_click.png);
	cursor: pointer;
}

#hisHead select{
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	border:black 2px solid;
}

#hisHead select:hover{
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	border:#42C8FB 2px solid;
	cursor: pointer;
}

#hisHead input{
	color: white;
	border:none;
	width: 70px;
	height: 25px;
	border-radius: 20px;
	background-color: #22C7FB;
	margin-left: 20px;
}

#hisHead input:hover{
	cursor: pointer;
	box-shadow: 0px 0px 25px #22C7FB;
}

.historyBody{
	width: 900px;
	height: 480px;
	margin-left: 130px;
}

#hisBody{
	width: 900px;
	height: auto;
	text-align: center;
	border:#CECECE 1px solid;
	border-radius: 10px;
	margin-top:10px; 
	table-layout: fixed;
}
#hisBody tr td,#hisBody tr th{
    border-bottom: #CECECE 1px solid;
    border-right: #CECECE 1px solid;
    line-height: 25px;

    text-overflow: ellipsis; /* for IE */  
    -moz-text-overflow: ellipsis; /* for Firefox,mozilla,在chrome中测试也通过了*/  
    overflow: hidden;  
    white-space: nowrap;
}

#hisBody tr th:nth-child(1),#hisBody tr th:nth-child(2),
#hisBody tr th:nth-child(4)#hisBody tr th:nth-child(5){
	width: 100px;
}

#hisBody tr th:nth-child(3){
	width: 450px;
}

#hisBody:last-child{
	border-bottom: none;
}
#hisBody tr td:last-child,#hisBody tr th:last-child{
	border-right: none;
}

#hisBody tr td:last-child a{
	text-decoration: none;
}

#hisBody tr td:last-child a:hover{
	color: #26B9F1;
	text-decoration: underline;
}
