*{margin:0;padding: 0;}

body{width: 100%;height: auto;}
#logo{
	width: 280px;
	height: 36px;
	display: inline-block;
	background-repeat: no-repeat;
}


#logo a{
	width: 180px;
	height: 36px;
	margin-left: 570px;
	margin-top: 5px;
	display: block;
	background-image: url(../img/Calendar/logo.png);
	background-repeat: no-repeat;
}

#logo a:hover{

	cursor: pointer;
}

#namebox{
	width: 100px;
	height: 15px;
	display: block;
	margin-left: 900px;
	margin-top: -30px;
	text-align: right;
	line-height: 15px; 
}

#exitbox{
	width: 15px;
	height: 15px;
	display: block;
	margin-left: 1020px;
	margin-top: -15px;
}

#exitbox a{
	width: 15px;
	height: 15px;
	display: block;
	background-image: url(../img/Calendar/exit.png);
}

#exitbox a:hover{
	background-image: url(../img/Calendar/exit_click.png);
	cursor: pointer;
}

.resbody{
	width: 100%;
	height: auto;
	background-color: #EBEBEB;
	padding-top: 1px;
	margin-top: 15px;
}

#OriginalTextBox{
	width: 1000px;
	height: auto;
	margin-left: 200px;
	margin-top: 20px;
	background-color: white;
	border-radius: 5px;
}

.back{
	width: 20px;
	height: 34px;
	display:inline-block;
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	background-image: url(../img/planWrite/back.png);
}

.back:hover{
	background-image: url(../img/planWrite/back_click.png);
	cursor: pointer;
}

.middleBox{
	width: 600px;
	height: auto;
	margin-left: 200px;
	display: inline-block;
}

.middleBox p{
	font-size: 17px;
	margin-top: 10px;
}

.middleBox textarea{
	font-size: 20px;
	border-radius: 15px;
	/*margin-top: 15px;*/
	background-color: white;
}

.resBox{
	width: 150px;
	padding-left: 10px;
	display: inline-block;
	margin-left: 25px;
	position: absolute;
	margin-top: 10px;
}

#excursion{
	font-size: 28px;
	color: #FCBF05;
}

#score{
	font-size: 25px;
	color: #D77E9C;
}

#rank{
	font-size: 25px;
	color: #5DBAE6;
}

#comment{
	width: 150px;
	height: auto;
	display: block;
	margin-top: 5px
}

#resultBox{
	border:white 1px solid;
	width: 1000px;
	height: auto;
	margin-left: 200px;
	margin-top:10px; 
	background-color: white;
	border-radius: 5px;
}

#resultContainer{
	width: 620px;
	height: auto;
	box-shadow: 0px 3px 15px grey;
	border-radius: 10px;
	margin-left: 200px;
	margin-top: 15px;
	margin-bottom: 20px;
	background-color: white;
}

#RContainerHead{
	width: 300px;
	background-color: #EEEEEE;
	color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#RContainerHead li{
	display: inline-block;
	width: 150px;
	line-height: 40px;
	text-align: center;
	border-bottom: none;
}
#RContainerHead li:hover{cursor: pointer;}
#RContainerHead li.active{
	background-color: white;
	color: #16D0FB;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom:2px solid #FFFFFF;
}

#total_chart{
	width: 600px;
	height: auto;
	border:black 1px auto;
	display: block;
}

#chart{
	width: 600px;
	height: 300px;
	margin-top: 20px;
	margin-left: 30px;
}

#chart2{
	width: 600px;
	height: 300px;
	padding-top: 100px;
	margin-left: 30px;
}

#detail_error{
	width: 600px;
	height: auto;
	margin-left: 0px;
	padding-left:30px;
	padding-top: 30px; 
	display: none;
	padding-bottom: 10px;
}

#error_table{
	table-layout: fixed;
	/*padding-bottom: 10px;*/
	border:#CECECE 1px solid;
	border-radius: 10px;
	margin-bottom: 10px;
}

#error_table tr td,#error_table tr th{
	border-left: 1px #CECECE solid;
	border-bottom:1px #CECECE solid;
}

#error_table tr td:nth-child(1),#error_table tr th:nth-child(1){
	width: 20px;
	height: auto;
	border-left: none
}

#error_table tr td:nth-child(2){
	width: 300px;
	height: auto;
}

#error_table tr td:nth-child(3){
	width: 200px;
	height: 23px;
}

#error_table tr:nth-child(2n){
	color:#16D0FB;
}


.copyRight{
	font-size: 15px;
	margin-left: 600px;
	margin-top: 20px;
}

.show{display: block;}
.hide{display: none;}



.replaceWord{
	width: 110px;
	height: auto;
	border:1px #EBEBEB solid;
	border-radius: 5px;
	position: relative;
	background-color: white;
	/*margin-left: -150px;*/
	margin-left: -150px;
	padding-left: 5px;
	box-shadow: 0px 0px 25px #EBEBEB;
}


.replaceWord span{
	display: block;
	width: 90px;
	height: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#showMagic{
	width: 100%;
	height: 350px;
	border:#EBEBEB 1px solid;
	border-radius: 10px;
	box-shadow: 0px 0px 25px #EBEBEB;
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 10px;
	margin-bottom:20px;
}

#formertext{
	display: none;
}

.red{
	width: 10px;
	height: 10px;
	background-color: #81FF38;
}

.yellow{
	width: 10px;
	height: 10px;
	background-color: #E4FF39;
}

.blue{
	width: 10px;
	height: 10px;
	background-color: #FF7438;
}
.pink{
	width: 10px;
	height: 10px;
	background-color: #FF0011;
}

.green{
	width: 10px;
	height: 10px;
	background-color: #6FBCE4;
}
.orange{
	width: 10px;
	height: 10px;
	background-color: #A3295C;
}